.album-item {
  width : 30%;
  height : 200px;
}

.card {
  height: auto;
  width: 48%;
  margin: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

section {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
}
